@import "components/landing_page/header_landingPage.css";
@import "components/landing_page/apresentation_landingPage.css";
@import "components/landing_page/sobreMim_landingPage.css";
@import "components/landing_page/porque_trabalhar.css";
@import "components/landing_page/servicos_landingPage.css";
@import "components/landing_page/comoFunciona_landingPage.css";
@import "components/landing_page/whatsapp_landingPage.css";
@import "components/landing_page/footer_landingPage.css";
@import "../css/variables.css";
/* Reset de estilos para garantir consistência entre os navegadores */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--cor-primaria);
  line-height: 1.4;
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 100px;
}

main {
  scroll-margin-top: 100px;
}

/* Estilos para tornar os elementos invisíveis */
.hidden,
[hidden] {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

/* Clearfix para conter floats */
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* Estilos de mídia para dispositivos de alta resolução */
@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Ajustes para dispositivos de alta resolução */
}
