@import "components/register/button_register.css";
@import "components/register/textBox_register.css";
@import "components/register/main_register.css";
@import "css/variables.css";

/* Reset de estilos para garantir consistência entre os navegadores */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--cor-fundo-branco) !important;
  line-height: 1.4;
  scroll-behavior: smooth;
}
