@import "../../variables.css";

.inserir {
  width: 180%;
  margin: 10px 0;
  height: 48px;
  border: 2px solid var(--cor-borda_textBox);
  border-radius: 6px;
  padding: 0px 8px;
}

#emailtxt {
  margin-bottom: 5px; /* Define um pequeno espaço abaixo do primeiro elemento */
}

#inemailtxt {
  margin-top: 0; /* Remove o espaçamento extra na parte superior */

}

#senhatxt {
  margin-bottom: 5px; /* Define um pequeno espaço abaixo do primeiro elemento */
}

#insenhatxt {
  margin-top: 0; /* Remove o espaçamento extra na parte superior */

}

