.actionsSolicitacao{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.actionsSolicitacao button{
  width: 40%;
  height: 48px;
  border: none;
  outline: none;
  background-color: var(--cor-primaria);
  color: var(--cor-texto-branco);
  font-size: 16px;
  cursor: pointer;
}

.actionsSolicitacao button:hover{
  background-color: #007c7c;
}

.actionsSolicitacao button:nth-child(1){
  width: 40%;
  height: 48px;
  border: none;
  outline: none;
  background-color: var(--cor-secundaria);
  color: var(--cor-texto-branco);
  font-size: 16px;
}

.actionsSolicitacao button:nth-child(1):hover{
  background-color: #811d1d;
}
