@import "/css/variables.css";

#sideMenu {
  background-color: var(--cor-tercearia);
  width: 20%;
  height: 100%; /* Garantir que o aside ocupe 100% da altura */
  display: flex block;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 24px;
}

@media (max-width: 768px) {
  #sideMenu{
    left: 0;
    position: absolute;
    width: 80%;
    height: 100%;
    display: none;
  }
}
