section {
  width: 100%;
  flex-grow: 1; /* Ocupa o restante do espaço disponível */
  height: 100%; /* Garantir que a section ocupe 100% da altura */
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
}

.rastreabilidade_fieldset{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: none;
  gap: 12px;
}

.camps10{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.formGroup{
  display: flex;
  flex-direction: column;
}

#identifications{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
}

#identifications button{
  border: none;
  background-color: var(--cor-secundaria);
  padding: 16px;
  color: var(--cor-texto-branco);
  font-size: 12px;
  border-radius: 8px;
}
