/* Estilos gerais */
main {
  padding: 6em; /* Espaçamento interno */
  padding-top: 10em; /* Espaço superior */
  padding-bottom: 4em; /* Espaço inferior */
  overflow-x: hidden; /* Impede rolagem horizontal */
}

/* Título principal */
.title {
  color: var(--cor-texto-branco);
  font-size: 5em;
}

/* Subtítulo */
.subtitle {
  width: 80%;
  margin-top: 24px;
  color: var(--cor-texto-branco);
  font-size: 1.2em;
}

/* Botão de apresentação */
.botao_apresentation {
  margin-top: 24px;
  padding-left: 64px;
  padding-right: 64px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  height: 56px;
  background-color: var(--cor-secundaria);
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

/* Texto do botão */
.text_button {
  font-size: 16px;
  color: var(--cor-texto-branco);
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
  main {
    padding: 1.5em;
    padding-top: 8em;
  }

  .title {
    font-size: 3em;
  }

  .subtitle {
    font-size: 0.8em;
  }

  .botao_apresentation {
    width: 60%;
    justify-content: space-between;
  }
}

@media (max-width: 425px) {
  main{
    padding-top: 5em;
  }
  .botao_apresentation {
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
    justify-content: space-between;
  }
}
