/* Importação das variáveis globais */
@import "../../variables.css";

/* Seção "como funciona" */
.como_funciona {
  width: 100%;
  padding: 6em;
  padding-top: 3em;
  padding-bottom: 3em;
  display: flex;
  flex-direction: column;
}

/* Título principal da seção */
.como_title {
  color: var(--cor-texto-branco);
  font-size: 2.5em;
  padding-bottom: 0.8em;
}

/* Títulos das etapas */
.title_etapa {
  color: var(--cor-texto-branco);
  font-size: 1.5em;
  padding-bottom: 0.3em;
}

/* Texto das etapas */
.text_etapa {
  width: 100%;
  color: var(--cor-texto-branco);
  font-size: 1.2em;
  padding-bottom: 48px;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
  .como_funciona {
    padding: 1.5em;
    padding-top: 1em;
    gap: 24px;
  }

  .como_title {
    font-size: 1.5em;
    padding-bottom: 0.1em;
  }

  .title_etapa {
    font-size: 1.3em;
  }

  .text_etapa {
    font-size: 0.8em;
    padding-bottom: 12px;
  }
}
