@import "../../variables.css";

/* Estilo do rodapé */
footer {
  width: 100%;
  background-color: var(--cor-fundo-branco);
  padding: 6em;
  padding-bottom: 4em;
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Estilo da seção dentro do rodapé */
.section_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Estilo dos links no rodapé */
.link_footer {
  color: var(--cor-texto-padrao);
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    gap: 48px;
    text-align: center;
  }

  .section_footer {
    gap: 12px;
  }
}
