@import "../../variables.css";

/* Estilo para o header, que é fixo no topo da página e possui altura de 6em. A cor de fundo é definida pela variável --cor-tercearia. */
header {
  position: fixed;
  width: 100%;
  height: 6em;
  background-color: var(--cor-tercearia);
}

/* Estilo para o nav (barra de navegação), que usa display flex para alinhar os itens na horizontal, com espaço entre o logo e os botões. */
nav {
  width: 100%;
  height: 6em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Estilo para a imagem do logo, definindo uma largura fixa e padding à esquerda para alinhamento. */
nav #logo img {
  width: 125px;
  padding-left: 12px;
}

/* Estilo para o container que agrupa os itens de navegação e os botões. Usa display flex para alinhamento horizontal. */
#objects {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Estilo para a lista de navegação. Remove o padding e a margem padrão e organiza os itens na horizontal. */
ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

/* Estilo para os itens da lista. Remove o estilo padrão de lista e adiciona margem entre os itens. */
ul li {
  list-style: none;
  margin: 0 42px;
}

/* Estilo para os links de navegação. Remove o sublinhado, define a cor do texto como branco e aplica a fonte secundária e estilo semibold. */
ul li a {
  text-decoration: none;
  color: white;
  font-family: var(--fonte-secundaria);
  font-weight: var(--font-weight-semibold);
  font-size: 16px;
}

/* Estilo para o container dos botões, com display flex para organizar os botões na horizontal. */
#botoes {
  display: flex;
  flex-direction: row;
  gap: 0px;
}

/* Estilo para os botões. Define altura, padding, sem borda, e aplica a fonte e o peso da fonte definidos nas variáveis. */
#botoes .botao {
  height: 6em;
  padding-left: 24px;
  padding-right: 24px;
  border: none;
  font-family: var(--fonte-secundaria);
  color: var(--cor-texto-branco);
  font-weight: var(--font-weight-semibold);
  font-size: 16px;
  cursor: pointer;
}

/* Estilo para o primeiro botão, com a cor de fundo definida pela variável --cor-secundaria. */
#botoes .botao:nth-child(1) {
  background-color: var(--cor-secundaria);
}

/* Estilo para o segundo botão, com a cor de fundo definida manualmente. */
#botoes .botao:nth-child(2) {
  background-color: #205730;
}

/* Media Query para dispositivos móveis (telas com largura menor ou igual a 768px). Esconde os itens de navegação (ul) em telas menores. */
@media (max-width: 768px) {
  ul {
    display: none; /* Esconde a lista de navegação no mobile */
  }
}

@media (max-width: 425px) {
  ul {
    display: none; /* Esconde a lista de navegação no mobile */
  }

  nav #logo img{
    padding-top: 6px;
    width: 80px;
  }

  #botoes .botao{
    height: 3em;
    padding-left: 12px;
    padding-right: 12px;
  }

  nav{
    height: 3em;
  }

  header{
    height: 3em;
  }
}
