@import "../../variables.css";

/* Estilo para a seção de serviços */
.servicos {
  width: 100%;
  padding: 6em;
  padding-top: 3em;
  padding-bottom: 3em;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url('https://www.labteste.com.br/imagens/informacoes/ensaio-dureza-rockwell-04.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  z-index: -1;
}

/* Estilo para o título da seção de serviços */
.servicos_title {
  color: var(--cor-texto-branco);
  font-size: 2.5em;
  padding-bottom: 24px;
}

/* Estilo para o contêiner de templates */
.templates {
  display: flex;
  flex-direction: row;
  gap: 1em;
  overflow-x: scroll;
  scrollbar-width: none;
}

/* Estilo para cada template dentro da seção de serviços */
.template {
  min-width: 218px;
  min-height: 296px;
  background-color: var(--cor-fundo-branco);
}

.text_etapa3{
  color: var(--cor-texto-branco);
  padding-bottom: 24px;
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
  /* Ajusta o layout da seção de serviços para telas pequenas */
  .servicos {
    padding: 1.5em;
    padding-top: 1em;
    gap: 24px;
  }

  /* Ajusta o layout do contêiner de templates para telas pequenas */
  .templates {
    width: 100%;
    overflow-x: scroll;
  }

  /* Ajusta o tamanho do título para telas pequenas */
  .servicos_title {
    font-size: 1.5em;
    padding-bottom: 0px;
  }

  .text_etapa3{
    font-size: 0.8em;
  }
}
