@import "../../variables.css";

/* Estilo para a seção "Sobre mim" */
.sobre_mim {
  width: 100%;
  background-color: var(--cor-fundo-branco);
  padding: 6em;
  padding-top: 3em;
  padding-bottom: 3em;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/* Estilo para o conteúdo da seção "Sobre mim" */
.sobre_content {
  width: 30%;
}

/* Estilo para o título da seção "Sobre mim" */
.sobre_title {
  color: var(--cor-texto-padrao);
  font-size: 2.5em;
}

/* Estilo para o subtítulo da seção "Sobre mim" */
.sobre_subtitle {
  color: var(--cor-texto-padrao);
  font-size: 1.2em;
}

/* Estilo para a imagem da seção "Sobre mim" */
.sobre_img {
  width: 60%;
  height: 405px;
  background-color: #888888;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHmDUj8kImPxrxpnqLyH3VFyBwHibhgmTD5Q&s");
  background-size: cover;
  background-position: center;
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
  /* Ajusta o layout da seção "Sobre mim" para telas pequenas */
  .sobre_mim {
    flex-direction: column;
    padding: 1.5em;
    padding-top: 1em;
    gap: 24px;
  }

  /* Ajusta o conteúdo da seção "Sobre mim" para telas pequenas */
  .sobre_content {
    width: 100%;
    text-align: justify;
  }

  /* Ajusta o título da seção "Sobre mim" para telas pequenas */
  .sobre_title {
    font-size: 1.5em;
    padding-bottom: 0.5em;
  }

  /* Ajusta o subtítulo da seção "Sobre mim" para telas pequenas */
  .sobre_subtitle {
    font-size: 0.8em;
  }

  /* Ajusta a imagem da seção "Sobre mim" para telas pequenas */
  .sobre_img {
    width: 100%;
  }
}
