/* Importa as variáveis globais de estilos, como cores */
@import "../../variables.css";

/* Estilo para a seção "Sobre mim" */
.sobre_mim {
  width: 100%; /* Largura total da seção */
  background-color: var(--cor-fundo-branco); /* Cor de fundo da seção */
  padding: 6em; /* Espaçamento interno de 6em */
  padding-top: 3em; /* Espaçamento superior de 3em */
  padding-bottom: 3em; /* Espaçamento inferior de 3em */
  display: flex; /* Usa o modelo de layout flexível */
  justify-content: space-between; /* Distribui os itens igualmente com espaço entre eles */
  flex-direction: row; /* Organiza os itens na direção de uma linha */
}

/* Estilo para o conteúdo da seção "Sobre mim" */
.sobre_content {
  width: 30%; /* Largura de 30% do contêiner */
}

/* Estilo para o título da seção "Sobre mim" */
.sobre_title {
  color: var(--cor-texto-padrao); /* Cor do título */
  font-size: 2.5em; /* Tamanho da fonte do título */
}

/* Estilo para o subtítulo da seção "Sobre mim" */
.sobre_subtitle {
  color: var(--cor-texto-padrao); /* Cor do subtítulo */
  font-size: 1.2em; /* Tamanho da fonte do subtítulo */
}

/* Estilo para a imagem da seção "Sobre mim" */
.sobre_img {
  width: 60%; /* Largura de 60% da área disponível */
  height: 405px; /* Altura da imagem */
  background-color: #888888; /* Cor de fundo da imagem, caso não carregue */
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHmDUj8kImPxrxpnqLyH3VFyBwHibhgmTD5Q&s"); /* Imagem de fundo */
  background-size: cover; /* Faz a imagem cobrir toda a área disponível */
  background-position: center; /* Centraliza a imagem dentro da área */
}

/* Media Query para dispositivos móveis com largura de até 768px */
@media (max-width: 768px) {
  /* Ajusta o layout da seção "Sobre mim" para telas pequenas */
  .sobre_mim {
    flex-direction: column; /* Alinha os itens na direção de uma coluna */
    padding: 1.5em; /* Reduz o padding interno */
    padding-top: 1em; /* Reduz o padding superior */
    gap: 24px; /* Adiciona espaço entre os itens */
  }

  /* Ajusta o conteúdo da seção "Sobre mim" para telas pequenas */
  .sobre_content {
    width: 100%; /* Largura total */
    text-align: justify; /* Justifica o texto */
  }

  /* Ajusta o título da seção "Sobre mim" para telas pequenas */
  .sobre_title {
    font-size: 1.5em; /* Reduz o tamanho da fonte */
    padding-bottom: 0.5em; /* Ajusta o espaçamento inferior */
  }

  /* Ajusta o subtítulo da seção "Sobre mim" para telas pequenas */
  .sobre_subtitle {
    font-size: 0.8em; /* Reduz o tamanho da fonte */
  }

  /* Ajusta a imagem da seção "Sobre mim" para telas pequenas */
  .sobre_img {
    width: 100%; /* Largura total */
  }
}
