@import "../../variables.css";

/* Classe que centraliza o conteúdo dentro do formulário de WhatsApp */
.local_whatsapp_form {
  display: flex;
  justify-content: center;
}

/* Contêiner que organiza os itens de WhatsApp em uma linha */
.container_section_whatsapp {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Caixa de estilo do WhatsApp, com fundo e alinhamento dos itens */
.whatsapp {
  width: 80%;
  height: 96px;
  background-color: var(--cor-secundaria);
  border-radius: 6px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* Contêiner para os itens dentro da caixa do WhatsApp */
.whatsapp_container {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

/* Estilo para o texto dentro da caixa do WhatsApp */
.whatsapp_text {
  font-size: 1rem;
  color: var(--cor-texto-branco);
}

/* Estilo para o ícone do WhatsApp */
#icon_whatsapp {
  width: 24px;
  height: 24px;
}

/* Estilo para o botão dentro da caixa do WhatsApp */
.whatsapp_button {
  height: 42px;
  width: 256px;
  border: none;
  border-radius: 6px;
  background-color: var(--cor-fundo-branco);
  color: var(--cor-secundaria);
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
  .whatsapp{
    padding-left: 24px;
    padding-right: 24px;
  }

  /* Esconde o texto no WhatsApp em telas pequenas */
  .whatsapp_text {
    display: none;
  }

  /* Esconde o ícone do WhatsApp em telas pequenas */
  #icon_whatsapp {
    display: none;
  }

  /* Ajusta a margem do botão para dispositivos móveis */
  .whatsapp_button {
    width: 100%;
  }
}
