@import "../../variables.css";

.register_btn {
  width: 100%; /* Garante que o botão ocupe 100% da largura do contêiner */
  height: 48px; /* Altura do botão */
  background-color: var(--cor-primaria);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* Reduzido para evitar um espaçamento excessivo */
  border-radius: 6px;
  cursor: pointer;
  box-sizing: border-box; /* Garante que o padding não afete a largura */
  min-height: 48px; /* Garante que a altura mínima do botão seja 48px */
  margin-bottom: 24px;
}

.register_btn:hover {
  background-color: #007c7c;
}

.button_text_register {
  font-size: 16px;
  color: var(--cor-texto-branco);
  white-space: nowrap; /* Impede que o texto quebre dentro do botão */
  text-align: center; /* Alinha o texto no centro */
}
